<table border="0" cellpadding="0" cellspacing="0">
  <tr>
      <td>
          <div style="font-family: 'PT Sans', sans-serif;">
              <div align="center" style="color: #333333;font-size: 28px;">
                  <b>Akun Kompas.id Berhasil Didaftarkan</b>
              </div>
              <br />
              <p style="text-align: justify;">
              <p>Hai, pelanggan Kompas.id!</p>
              
              Kami telah mendaftarkan email Anda untuk akun Kompas.id dengan detail sebagai berikut:<br>
              Email: <b>{{.To}}</b><br>
              Kata Sandi: <b>kompas1234</b>
              <br><br>
              Demi keamanan akun Anda, kami menyarankan untuk mengubah kata sandi berisi minimal 10 karakter dengan
              huruf kapital, angka, dan simbol.
              <br /><br />
              <div align="center">
                  <a href="{{.Body.LinkResetPassword}}"
                      style="width: 250px;font-family: 'PT Sans', sans-serif;background-color: #3A8C11;border: none;color: white;padding: 12px 20px;text-align: center;text-decoration: none;display: inline-block;font-size: 20px;margin: 4px 2px;cursor: pointer;border-radius: 8px;">
                      <b>Ubah Kata Sandi</b>
                  </a>
              </div>
              <br /><br />
              Selamat menikmati berbagai artikel mendalam dan tepercaya hanya di Kompas.id.</p>
              <br>
              Terima kasih,<br>
              Tim Kompas.id
              <br /><br />
              </p>
          </div>
      </td>
  </tr>
</table>