<table border="0" cellpadding="0" cellspacing="0">
   <tr>
      <td>
         <div style="font-family: 'PT Sans', sans-serif;">
            <div align="center" style="color: #333333;font-size: 28px;">
               <b>Atur Ulang Kata Sandi</b>
            </div>
            <br />
            <p style="text-align: justify;">
               <p>Hai, ParamsToName</p> <!-- ParamsToName need to replace in shannon --> 
               <br />
               Kami menerima permohonan untuk mengatur ulang kata sandi Kompas.id Anda yang
               terkait dengan alamat email ini. Untuk mengatur ulang kata sandi tersebut,
               silakan Anda menekan tombol di bawah ini. Tautan ini akan kedaluwarsa pada
               {{ .Body.Date }}, pukul {{ .Body.Time }}

               <br /><br />
            <div align="center">
               <a href="{{.Body.LinkResetPassword}}"
                  style="width: 250px;font-family: 'PT Sans', sans-serif;background-color: #3A8C11;border: none;color: white;padding: 12px 20px;text-align: center;text-decoration: none;display: inline-block;font-size: 20px;margin: 4px 2px;cursor: pointer;border-radius: 8px;">
                  <b>Atur Ulang Kata Sandi</b>
               </a>
            </div>
            <br /><br />
            Jika Anda tidak mengajukan permohonan tersebut, silakan abaikan saja email ini.
            <br /><br />
            Terima kasih,
            <br />
            Tim Kompas.id
            <br /><br />
            </p>
         </div>
      </td>
   </tr>
</table>