<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <div style="font-family: 'PT Sans', sans-serif;">
        <div align="center" style="color: #333333;font-size: 28px;">
          <b>Kata Sandi Akun Kompas.id telah Direset</b>
        </div>
        <br />
        <p style="text-align: justify;">
        <p>Hai, ParamsToName</p> Kata sandi akun Anda telah direset dan akan diinformasikan kepada Anda <br /> oleh Tim Layanan Pelanggan Kompas.id, silakan mengubah kata sandi <br />bawaan menjadi kata sandi spesifik dari Anda agar akun lebih aman dengan <br /> cara mengklik tombol di bawah ini: <br />
        <br />
        <div align="center">
          <a href="{{.Body.LinkResetPassword}}" style="width: 250px;font-family: 'PT Sans', sans-serif;background-color: #3A8C11;border: none;color: white;padding: 12px 20px;text-align: center;text-decoration: none;display: inline-block;font-size: 20px;margin: 4px 2px;cursor: pointer;border-radius: 8px;">
            <b>Ubah Kata Sandi</b>
          </a>
        </div>
        <br />
        <br /> Tautan di atas akan kedaluwarsa pada <b>{{ .Body.Date }}, pukul {{ .Body.Time }}.</b>
        <br />
        <br /> Terima kasih, <br />
        <br /> Layanan Pelanggan Kompas.id <br />
        <br />
        </p>
      </div>
    </td>
  </tr>
</table>