<table border="0" cellpadding="0" cellspacing="0">
   <tr>
      <td>
         <div style="font-family: 'PT Sans', sans-serif;">
            <div align="center" style="color: #333333;font-size: 28px;">
               <b>Verifikasi Akun Kompas.id</b>
            </div>
            <!-- <br/> -->
            <p style="text-align: justify;">
               <p>Hai, ParamsToName</p> <!-- ParamsToName need to replace in shannon --> 
               <br/>
               Terima kasih telah mendaftar akun Kompas.id. Anda perlu memverifikasi alamat email di akun Anda.
               <br/><br/>
               <div align="center">
                  <a href="{{.Body.Link}}" style="width: 250px;font-family: 'PT Sans', sans-serif;background-color: #3A8C11;border: none;color: white;padding: 12px 20px;text-align: center;text-decoration: none;display: inline-block;font-size: 20px;margin: 4px 2px;cursor: pointer;border-radius: 8px;">
                  <b>Verifikasi Akun</b>
                  </a>
               </div>
               <br/><br/>
               Email verifikasi ini akan kedaluwarsa pada {{.Body.Date}}, pukul {{.Body.Time}}
               <br/><br/>
               Selamat menikmati berbagai artikel mendalam dan tepercaya hanya di Kompas.id.
               <br/><br/>
               Anda dapat <a href="{{.Body.LinkCancelRegis}}">membatalkan pendaftaran</a> atau melanjutkan dengan <a href="{{.Body.LinkResetPassword}}">ubah kata sandi</a>.
               <br/><br/>	             
               Terima kasih,
               <br/>
               Tim Kompas.id
               <br/><br/>
            </p>
         </div>
      </td>
   </tr>
</table>